#contain {
    max-width: 400px;
    margin: 10px auto;
}

@media (max-width:400px) {
    #contain {
        width: 100%;
    }
}

#year {
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 0;
}

#month {
    margin-top: 20px;
    /* margin-left: 20px; */
    margin-bottom: 0;
}

#date {
    font-size: 120px;
    text-align: center;
    margin: 20px auto;
}

#contain>h2,
#day,
p {
    text-align: center;
}